div {
  border: 20px solid #000; /* shorthand for setting border's width, type, and color */
  display: inline-block; /* positioning elements */
  min-width: 20em; /* two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* makes the normally square div round */
  border-left-color: transparent; /* remove color from left side */
  border-right-color: transparent; /* remove color from right side */
  border-bottom-color: transparent; /* remove color from bottom of circle */
}

#red { border-top-color: #f00;}
#orange { border-top-color: #ffa500; }
#yellow { border-top-color: #ff0; }
#green { border-top-color: #00bc3f; }
#blue { border-top-color: #06f; }
#indigo { border-top-color: #8a2be2; }
#violet { border-top-color: #d300c9; }